Repository zsxoff/course-programming-technology: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpplint, cppcheck, isort, black, flake8, pylint

cpplint:
  name: C++ - cpplint
  language: system
  stages:
  - commit
  entry: cpplint

cppcheck:
  name: C++ - cppcheck
  language: system
  stages:
  - commit
  entry: cppcheck

isort:
  name: python - isort
  stages:
  - commit
  language: system
  entry: isort

black:
  name: python - black
  stages:
  - commit
  language: system
  entry: black

flake8:
  name: python - flake8
  stages:
  - commit
  language: system
  entry: flake8

pylint:
  name: python - pylint
  stages:
  - commit
  language: system
  entry: pylint

remove pylint
  .pre-commit-config.yaml
Due: none

add laboratory-2 init version
  laboratory-2/.gitignore
  laboratory-2/glade/app.glade
  laboratory-2/main.py
  laboratory-2/src/__init__.py
  laboratory-2/src/app.py
  laboratory-2/src/maze.py
  laboratory-2/xml/.gitkeep
Due: isort, black, flake8, pylint

fix typo
  laboratory-1/src/matrix_lib.cpp
Due: cpplint, cppcheck

add README.md
  laboratory-2/README.md
Due: none

fix typo
  laboratory-1/README.md
Due: none

update main README.md
  README.md
Due: none

fix temporary glade files
  laboratory-2/.gitignore
Due: none

small resizes of elements
  laboratory-2/glade/app.glade
Due: none

improve structure; add xml dump
  laboratory-2/src/app.py
  laboratory-2/src/maze.py
  laboratory-2/src/maze_placeholder.py
  laboratory-2/src/text_placeholders.py
Due: isort, black, flake8, pylint

add matrix type
  laboratory-2/src/maze_placeholder.py
Due: isort, black, flake8, pylint

add new game option
  laboratory-2/glade/app.glade
  laboratory-2/src/app.py
  laboratory-2/src/maze.py
  laboratory-2/src/text_placeholders.py
Due: isort, black, flake8, pylint

add black config
  pyproject.toml
Due: none

reformat with black
  laboratory-2/src/maze.py
Due: isort, black, flake8, pylint

small refactoring
  laboratory-2/src/app.py
Due: isort, black, flake8, pylint

add load state from xml
  laboratory-2/src/app.py
  laboratory-2/src/maze.py
  laboratory-2/src/text_placeholders.py
Due: isort, black, flake8, pylint

refactoring and cleanup code
  laboratory-2/src/app.py
  laboratory-2/src/maze.py
Due: isort, black, flake8, pylint

refactoring and cleanup code #2
  laboratory-2/glade/app.glade
  laboratory-2/src/app.py
  laboratory-2/src/maze.py
  laboratory-2/src/text_placeholders.py
Due: isort, black, flake8, pylint

refactoring and renaming #3
  laboratory-2/src/app.py
  laboratory-2/src/maze.py
  laboratory-2/src/placeholders_maze.py
  laboratory-2/src/placeholders_text.py
Due: isort, black, flake8, pylint

rename buttons widgets
  laboratory-2/glade/app.glade
Due: none

add enable and disable control buttons on win
  laboratory-2/src/app.py
Due: isort, black, flake8, pylint

change matrix map
  laboratory-2/src/placeholders_maze.py
Due: isort, black, flake8, pylint

fix log window size
  laboratory-2/glade/app.glade
Due: none

fix README.md
  laboratory-1/README.md
Due: none

add gofmt
  .pre-commit-config.yaml
Due: none

init laboratory 3 base version
  laboratory-3/.gitignore
  laboratory-3/.idea/.gitignore
  laboratory-3/.idea/.name
  laboratory-3/.idea/dictionaries/zsxoff.xml
  laboratory-3/.idea/inspectionProfiles/Project_Default.xml
  laboratory-3/.idea/laboratory-3.iml
  laboratory-3/.idea/misc.xml
  laboratory-3/.idea/modules.xml
  laboratory-3/.idea/vcs.xml
  laboratory-3/application.go
  laboratory-3/go.mod
  laboratory-3/go.sum
  laboratory-3/misc.go
  laboratory-3/player.go
Due: none

remove goland dir
  laboratory-3/.gitignore
  laboratory-3/.idea/.gitignore
  laboratory-3/.idea/.name
  laboratory-3/.idea/dictionaries/zsxoff.xml
  laboratory-3/.idea/inspectionProfiles/Project_Default.xml
  laboratory-3/.idea/laboratory-3.iml
  laboratory-3/.idea/misc.xml
  laboratory-3/.idea/modules.xml
  laboratory-3/.idea/vcs.xml
Due: none

refactor player variables names; remove nickname
  laboratory-3/application.go
  laboratory-3/player.go
Due: none

fix if client and server attacks at the same tier
  laboratory-3/application.go
Due: none

fix server new player creation
  laboratory-3/application.go
Due: none

improve and translate text; small fixes
  laboratory-3/application.go
  laboratory-3/misc.go
  laboratory-3/player.go
Due: none

move hard-coded parameters as args
  laboratory-3/application.go
Due: none

cleanup player init in main
  laboratory-3/application.go
Due: none

add return error from functions and check errors
  laboratory-3/application.go
  laboratory-3/player.go
Due: none

set parameter of messageSend as pointer
  laboratory-3/application.go
Due: none

add run scripts
  laboratory-3/run_client.sh
  laboratory-3/run_server.sh
Due: none

small text improvements
  laboratory-3/application.go
  laboratory-3/player.go
Due: none

fix turn number; improve turn begin and end text
  laboratory-3/player.go
Due: none

text improvements
  laboratory-3/application.go
  laboratory-3/player.go
Due: none

move some text to constants
  laboratory-3/application.go
Due: none

add README.md
  laboratory-3/README.md
Due: none

Path conditions:
  cpplint: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  cppcheck: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  pylint: any of: \.py$
